*.pt filter=lfs diff=lfs merge=lfs -text
*.torchscript filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.engine filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
triton-server/raw_model/*.pt filter=lfs diff=lfs merge=lfs -text
triton-server/raw_model/*.torchscript filter=lfs diff=lfs merge=lfs -text
triton-server/model_repository/**/*.pt filter=lfs diff=lfs merge=lfs -text
