./paddle_wheels/paddlepaddle_gpu-3.2.0-cp310-cp310-linux_x86_64.whl
paddleocr==3.4.0
tritonclient[grpc]==2.65.0
./paddle_wheels/numpy_1_26_4/numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
opencv-python-headless>=4.11.0.86
fastapi==0.135.1
uvicorn[standard]==0.41.0
pydantic==2.12.5
pydantic-settings==2.13.1
structlog==25.5.0
python-multipart==0.0.22
setuptools>=82.0.0
python-dotenv>=1.2.1
ultralytics>=8.4.20
lap==0.5.13
sqlalchemy==2.0.48
